# Default files to ignore
/node_modules
/public/hot
/public/storage
/storage/*.key
.env
.env.backup
docker-compose.override.yml
npm-debug.log
yarn-error.log
package-lock.json
/.idea
/.vscode

# Ignore all files in the Docker directory
docker/*

# Except these
!docker/Dockerfile
!docker/build.sh
!docker/README.md
!docker/cmake-lists

# Ignore build directory and other build artifacts
bin
build
opencv
opencv_build